*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Times New Roman', Times, serif;
  overflow-y: hidden;
}
.homepage{
  background-image: url(Images/background.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
h1{
  color: #fff;
  text-transform: uppercase;
}
.speech{
  max-width: 800px;
  min-height: 200px;
  max-height: 600px;
  overflow-y: auto;
  width: 90%;
  background-color: #fff;
  border-radius: 30px;
  margin: 2rem 0;
  padding: 30px;
  position: relative;
}
.speech-quote{
  display: flex;
  flex-direction: column;
  min-height: 150px;
  overflow-y: auto;
}
.speech q
{
  justify-content: center;
  align-items: center;
  font-size: 25px;
  line-height: 1.5;
}
cite{
  font-size: 1.2rem;
  margin-top: 10px;
}
b{
  letter-spacing: 1px;
}
.pending{
  color: #F4585C;
  text-align: center;
  margin-top: 50px;
}
button{
  width: 240px;
  height: 50px;
  background: linear-gradient(93.71deg, #F4585C 58.65%, rgba(38, 31, 31, 0) 110.85%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 2px;
  cursor: pointer;
  margin: 2rem 0;
}
.social-media{
  display: inline-flex;
  gap: 30px;
  position: absolute;
  bottom: 0;
  background-color: rgba(244, 88, 92,0.5);
  padding: 40px;
  border-radius: 50% 50% 0 0;
}
.social-media a{
  cursor: pointer;
}
.logo{
  width: 2rem;
}
@media (max-width: 430px){
  .social-media{
    background: none;
    padding: 0 0 5px;
  }
  button{
    margin-bottom: 50px;
  }
}
@media (max-width: 374px){
  h1{
    font-size: 1.5rem;
  }
  .speech q{
    font-size: 1.3rem;
    text-align: justify;
  }
}